<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832208179847-f2o2gu1a7bgaqqffsdqu3c3orf4apanv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832208179847-f2o2gu1a7bgaqqffsdqu3c3orf4apanv</string>
	<key>API_KEY</key>
	<string>AIzaSyA5FTZ3q-sn__OIIHXm--5H7tc3H_kZ_xI</string>
	<key>GCM_SENDER_ID</key>
	<string>832208179847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.somelele.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-63085</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-63085.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832208179847:ios:64cb732ef64c2df6025e22</string>
</dict>
</plist>